html {
  scroll-behavior: smooth;
}
p {
    text-align: center;
}


.navbar-brand {
    padding-left: 4rem;
}

.row svg {
    align-content: center;
    margin-bottom: 4rem;
}

.jumbotron {
    background-image: url("images/header.jpg");
    background-position: center;
    background-size: cover;
    font-weight: bold;
    color: white;
    height: 100vh;
}

.jumbotron-style {
    background-color: #191919;
    opacity: 0.7;
    text-align: center;
}

.embed-responsive {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.btn-lg {
    border: none;
}

.btn-lg:hover {
    background-color: #EB8258;
    border: none;
}

hr {
    width: 50%;
    background-color: #EB8258;
    margin-bottom: 4rem;
}

.section-title {
    padding-top: 4rem;
}

.section-title h2 {
    text-align: center;
}

.follow-us {
    text-align: center;
    text-decoration: none;
    color: #EB8258;
}

.follow-us:hover {
    text-decoration: none;
    color: #EB8258;
    margin-top: 0.5rem;
}

.submit-button {
    background-color: darkgray;
    border: none;
}

.submit-button:hover {
    background-color: #EB8258;
    border: none;
}

.follow-us-row {
    margin-top: 4rem;
}
